pyaudio
python_speech_features
pyautogui
audiomentations
matplotlib
torchtyping
torchviz
mypy
mypy-extensions
python-telegram-bot
pyyaml
tabulate
tqdm
typer
wandb
natsort
toolz
cytoolz
ujson
hydra-colorlog
hydra-optuna-sweeper
pyrootutils